@import './../../variables.scss';

.app-page {
  position: relative;

  .app-page--banner {
    z-index: 1;
    height: 300px;
    width: 100%;
    background: transparent radial-gradient(closest-side at 36% 26%, #102257 0, #07174a 38%, #071235 65%, #00092D 100%) 0 0 no-repeat padding-box;

    .container {
      height: 100%;
      display: flex;
    }

    h2 {
      color: #fff;
      margin: auto 0;
    }
  }

  .app-page--tabs {
    background: linear-gradient(to top,
        $primary-light 0%,
        $primary-light 50%,
        $primary-dark 50%,
        $primary-dark 100%);
    z-index: 2;
    text-align: center;
    width: 100%;
  }

  .app-page--content {
    background-color: $bglightgray;
    min-height: 500px;
    width: 100%;
  }
}

.operating-app {

  .app-list-card {
    width: 100%;
    max-width: 1248px;
    display: grid;
    padding: 80px 0;
    justify-content: space-between;
    flex-wrap: nowrap;
    cursor: pointer;

    grid-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    text-align: left;

    .app-card {
      height: 350px;
      background-color: white;
      padding: 40px;
      border-radius: 24px;

      &:hover {
        box-shadow: 0 12px 35px rgb(0 49 69 / 12%);
      }

      .ac-title {
        font-size: 28px;
        font-weight: 600;
        margin-top: 16px;
        margin-bottom: 16px;
      }

      .ac-description {
        font-size: 17px;
      }
    }
  }
}

.constructor-app{
  .app-list-card {
    width: 100%;
    max-width: 1248px;
    display: grid;
    padding: 80px 160px;
    justify-content: space-between;
    flex-wrap: nowrap;
    cursor: pointer;

    grid-gap: 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    text-align: left;

    .app-card {
      height: 350px;
      background-color: white;
      padding: 60px;
      border-radius: 24px;

      &:hover {
        box-shadow: 0 12px 35px rgb(0 49 69 / 12%);
      }

      .ac-title {
        font-size: 28px;
        font-weight: 600;
        margin-top: 24px;
        margin-bottom: 16px;
      }
    }
  }
}

.card-modal {
  .card-modal-header {
    padding: 80px 120px 40px 120px;
    background-color: $bglightgray;
    border-radius: 48px 48px 0 0;

    h1 {
      margin-top: 24px;
      margin-bottom: 0;
    }
  }

  .card-modal-info {
    padding: 48px 120px 80px 120px;;

    span {
      font-size: 18px;
    }

    ul {
      margin-top: 24px;
      padding: 0;

      li {
        list-style: none;
        position: relative;
        padding-left: 28px;
        margin: 16px 0;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 2px;
          background-image: url(../../images/checkmark.svg);
          width: 16px;
          height: 16px;
        }
      }
    }
    .button-card {
      display: block;
      width: 100%;
      margin-top: 48px;

      .ic-btn {
        position: absolute;
        margin-top: -2px;        
      }
      .btn-text {
        margin-left: 32px;
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
}