@import './../../variables.scss';

// section.customer {
//     // padding: 96px 0;
//     // max-width: 1248px;
//     // margin: auto;
// }

h1.title {
    margin-bottom: 80px;
}

@media (max-width: 425px) {
    .customer {
        display: flex;
        flex-direction: column;
    }
  }