@import './../variables.scss';

.footer {
    background-color: $grey-800;
    padding-bottom: 0;
    padding-top: 200px;

    .container {
        .footer-top {
            display: flex;
            justify-content: space-between;

            .left-footer {
                width: 30%;
                
                .vbd-description {
                    font-size: 16px;
                    font-weight: normal;
                    color: $grey-400;
                    margin: 24px 0;
                }
            }
    
            .right-footer {
                // display: grid;
                // grid-template-columns: 1fr 1fr 1fr;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                width: 70%;
                // width: calc(100% - 286px);
                justify-content: flex-end;

                .text-cols {
                    display: flex;
                    flex-direction: column;
                    width: 24%;
                    margin-left: 80px;
    
                    .footer-title {
                        font-size: 18px;
                        font-weight: 600;
                        color: $grey-400;
                        margin-bottom: 24px;
                    }
                    a {
                        font-size: 16px;
                        color: $grey-400;
                        margin-bottom: 16px;
                        &:hover {
                            color: $white;
                        }
                    }
                }
            }
        }

        .footer-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid $grey-500;
            margin-top: 40px;
            padding: 40px 0;

            .left-footer {
                display: flex;
                flex-direction: row;
                align-items: center;
                p {
                    font-size: 16px;
                    color: $grey-400;
                    margin: 0;
                }
                .dot {
                    font-size: 18px;
                    line-height: 18px;
                    font-weight: 600;
                    color: $grey-400;
                    margin: 0 20px;
                }
                a {
                    color: $grey-400;
                    &:hover {
                        color: $white;
                    }
                }
            }

            .right-footer {
                display: flex;
                flex-direction: row;
                align-items: center;
                a {
                    margin-left: 16px;
                }
                .social-icon {
                    position: relative;
                    top: 3px;
                    
                    &:hover {
                        filter: brightness(130%);
                    }
                }
            }
        }
    }    
} 

